$color_main: rgb(153, 184, 152);
$color_other: rgb(150, 187, 124);
$color_main_opacity: rgba(255, 255, 255, 0.612);
$color_opacity: linear-gradient(
  90deg,
  rgba(255, 182, 193, 0.9),
  rgba(255, 255, 255, 0.9)
);
$color_passion: #00ff00;
$color-gray-200: #e1e8ed93;

.wapper {
  display: flex;
  flex-direction: row;
}
.status-buttons {
  display: flex;
  justify-content: space-around;
  margin-top: 10px;
}
.white-btn,
.green-btn,
.blue-btn,
.yellow-btn {
  width: 20px;
  height: 20px;
  border: 2 solid black;
  border-radius: 50%;
  // border: none;
  cursor: pointer;
}

.green-btn {
  background-color: green;
  color: white;
}

.blue-btn {
  background-color: blue;
  color: white;
}

.yellow-btn {
  background-color: yellow;
  color: white;
}
.sortable-ghost {
  opacity: 0.4;
  background-color: #f0f0f0;
  cursor: pointer;
}
