@charset "UTF-8";
.wapper {
  display: flex;
  flex-direction: row;
}

.status-buttons {
  display: flex;
  justify-content: space-around;
  margin-top: 10px;
}

.white-btn,
.green-btn,
.blue-btn,
.yellow-btn {
  width: 20px;
  height: 20px;
  border: 2 solid black;
  border-radius: 50%;
  cursor: pointer;
}

.green-btn {
  background-color: green;
  color: white;
}

.blue-btn {
  background-color: blue;
  color: white;
}

.yellow-btn {
  background-color: yellow;
  color: white;
}

.sortable-ghost {
  opacity: 0.4;
  background-color: #f0f0f0;
  cursor: pointer;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(153, 184, 152);
  color: white;
  font-family: "Poppins", sans-serif;
  min-height: 100vh;
}

header {
  font-size: 1rem;
}

h1.title {
  font-size: 100px;
}

header,
form {
  min-height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.wapper {
  display: flex;
  flex-direction: row;
  margin: 2.5rem;
}

.sidebar {
  display: flex;
  flex-direction: column;
  flex: 30%;
  border-right: 2px solid rgba(225, 232, 237, 0.5764705882);
  box-shadow: rgba(0, 0, 0, 0.1) 0.5rem 1.2rem 0px;
}

.sidebar-part2 {
  display: flex;
  flex-direction: row;
}

.main {
  flex: 70%;
}

form input,
form button {
  padding: 0.5rem;
  padding-left: 1rem;
  font-size: 1.8rem;
  border: none;
  background: white;
  border-radius: 2rem;
}

form button {
  color: rgb(150, 187, 124);
  background: white;
  cursor: pointer;
  transition: all 0.3 ease;
}

form button:hover {
  color: white;
  background: rgb(150, 187, 124);
}

.todo-button {
  margin: 0 auto;
}

.fa-solid {
  margin-left: -0.4rem;
}

.todo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.todo-list {
  min-width: 30%;
  list-style: none;
}

.todo {
  margin: 0.5rem;
  padding-left: 0.5rem;
  background: white;
  color: black;
  font-size: 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 0.5s;
  border-radius: 2rem;
}

.todo li {
  flex: 1;
}

.edit-btn,
.save-btn,
.trash-btn,
.complete-btn {
  color: white;
  border: none;
  padding: 1rem;
  cursor: pointer;
  font-size: 1.5rem;
}

.edit-btn,
.save-btn {
  background: gray;
  width: 3.5rem;
}

.complete-btn {
  background: rgb(150, 187, 124);
  width: 3.5rem;
}

.trash-btn {
  border-top-right-radius: 1.75rem;
  border-bottom-right-radius: 1.75rem;
  background: rgb(171, 171, 171);
  width: 3.5rem;
}

.todo-item {
  padding: 0rem 0.5rem;
}

.fa-trash,
.fa-check-circle {
  pointer-events: none;
}

.completed {
  text-decoration: line-through;
  opacity: 0.5;
}

.slide {
  transform: translateX(10rem);
  opacity: 0;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none;
  border: none;
}

.select {
  margin: 1rem;
  position: relative;
  overflow: hidden;
  border-radius: 50px;
}

select {
  color: rgb(150, 187, 124);
  width: 10rem;
  height: 3.2rem;
  cursor: pointer;
  padding: 1rem;
}

.select::after {
  content: "▼";
  position: absolute;
  background: rgb(150, 187, 124);
  top: 0;
  right: 0;
  padding: 1rem;
  pointer-events: none;
  transition: all 0.3s ease;
}

.select::hover::after {
  background: white;
  color: rgb(150, 187, 124);
}

.todo-list {
  display: block;
  align-items: center;
}

div.todo:hover {
  background-color: rgb(150, 187, 124);
  color: #00ff00;
  cursor: move;
}/*# sourceMappingURL=index.css.map */